<%- model_class = Question -%>

<table style="background:transparent;">
  <thead>
    <tr>
      <th>User</th>
      <th>Change Action</th>
      <th>Time Changed</th>
    </tr>
  </thead>
<tbody style="background:transparent;">
  <% question.versions.each do |version| %>
  <tr style="background:transparent;">
    <td style="background:transparent; border: 0;"><% if version.whodunnit!= 'anonymous' %>
      <%= User.find(version.whodunnit).name %>
      <% else %>
      <%= version.whodunnit %>
      <% end %>
    </td>
    <td style="background:transparent; border: 0;"><%= version.event %></td>
    <td style="background:transparent; border: 0;"><%= version.created_at %></td>
  </tr>
  <% end %>
</tbody>
</table>
