<%- model_class = Task -%>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Change Action</th>
      <th>Time Changed</th>
    </tr>
  </thead>
<tbody>
  <% @task.versions.each do |version| %>
  <tr>
    <td><% if version.whodunnit!= 'anonymous' %>
      <%= User.find(version.whodunnit).name %>
      <% else %>
      <%= version.whodunnit %>
      <% end %>
    </td>
    <td><%= version.event %></td>
    <td><%= version.created_at %></td>
  </tr>
  <% end %>
</tbody>
</table>
