<%- model_class = Task -%>
<div class="page-header">
</div>

<%= render :partial => "tasks/form", :locals => { :question => question } %>
<br />
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Tasks</th>
      <th>Skills Required</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    <% question.tasks.delete_if(&:new_record?).each do |task| %>
      <tr>
        <td><%= link_to task.task, task_path(task) %></td>
	<td><%= task.tag_list %></td>
	<td><%= task.time %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
